@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    font-family: Arial, Helvetica, sans-serif;
}
body { 
    background-image: linear-gradient(to right, #FF81D0, #400036);
    text-align: center;
    font-weight: 200;
}
main {
    background-color: white;
    width: 600px;
    height: 500px;
    margin: auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow:2px 2px 10px black;   
}
h1 {
    font-family: "Permanent marker";
    font-style: normal;
    font-weight: 100;
    color: #105057;
}
h2 {
    color: #919151;
}
button { 
    padding: 10px;
    border-radius: 50px;
    background-color: #400036;
    color: beige;
}